button.calc-btn {
  width: 100%;
  height: 100px;
  padding: 0;
  background-color: #EEE;
  border: 1px solid #DDD;
  font-size: 30px;
  color: #000;
}
button.calc-btn:hover {
  background-color: #FFF;
  color: #055;
}

.col-4, .col-3, .col-2, .col-1 {
  float: left;
}

.col-4 {
  width: 100%;
}

.col-3 {
  width: 75%;
}

.col-2 {
  width: 50%;
}

.col-1 {
  width: 25%;
}