body {
  margin: 25px;
}

input.result {
  width: 100%;
  height: 100px;
  padding: 0;
  position: relative;
  max-width: 100vw;
  margin-right: 50px;
  float: right;
  background-color: #FFF;
  border: none;
  font-size: 30px;
  text-align: right;
  color: #000;
}