body {
  margin: 25px;
}

input.result {
  width: 100%;
  height: 100px;
  padding: 0;
  position: relative;
  max-width: 100vw;
  margin-right: 50px;
  float: right;
  background-color: #FFF;
  border: none;
  font-size: 2rem;
  text-align: right;
  color: #000;
}

div.previous{
  position: absolute;
  right: 75px;
  z-index: 99;
  top: 25px;
  color: #777;
  font-size: 1.2rem;
}